@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
html{
    font-family: 'Open Sans';
    font-size: 0.85rem;
    color: black;
}
/* ------------ HEADER ----------------- */

header{
	background-color: #1a1a1a;
}

#access-nav{
	background: black;
	margin-bottom: 15px;
}

header:after{
	display: block;
	clear: both;
	content: "";
}

footer a:hover {
	color: white;
}

#mainContent a {
	color: blue;
}

a[target="_blank"]:after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background-image: url(../img/blanked.gif);
    background-size: cover;
}

#mainContent a:hover {
    text-decoration: none;
}

header>img {
    display: block;
    width: 50px;
    float: left;
    padding: 5px;
    
}
header>nav {
    float: left;
    width: 70%;
}
header nav>ul {
    width: 100%;
    display: table;
    height: 75px;
}
header nav>ul>li {
    display: table-cell;
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

.nav-item>a.open, .sub-nav {
    background-color: black!important;
}

#access-nav{
    display: none;
}

#access-nav li{
	display: inline-block;
	padding: 10px;
}

/* ------------ CONTENT ----------------- */


p{
	padding: 10px 0;
    line-height: 145%;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2{
	font-size: 1.5rem;
	margin: 10px 0;
}

article#tab {
    margin: 15px 0;
}

table,td,th{
	border:3px solid black;
	border-collapse: collapse;
	padding: 5px;
}

caption {
    margin: 5px 0;
}

.wrapper{
	width: 960px;
	margin: auto;
}

#contact {
	width: 100%;
}

.wrapper:after{
	display: block;
	content: "";
	clear: both;
}

.wrapper>p>a {
    color: blue;
}

section{
	width: 80%;
	padding: 10px;
	float: left;
}

aside{
	width: 20%;
	float: left;
    right: 0;
    background-color: #ffff;
}

aside>h3 {
    font-size: 1.35rem;
    padding: 5px;
}

iframe {
	display: block;
	margin:auto;
}

/************** footer **************/
footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #1a1a1a;
    /*    border-bottom: 7px solid #3be355;
    border-top: 7px solid #3be355;*/
    line-height: 135%;
    padding: 0;
}

footer>div {
    flex:1;
    color: #fff;
    padding: 15px;
    border-right: 1px solid #fff;
}

footer>p {
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: #ffffff;
    width: 100%;
    color: #4a4a4a;
}

footer>div:nth-child(3){
    border: 0;
}

footer>div>p {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

footer>div>ul {
    margin-top: 10px;
}

footer>div>ul>li>span {
    color: #ffffff;
}

#social-text{
    margin-top: 10px;
}

#social-ico li {
    display: inline;
    margin-right: 5px;
}

#social-ico li>a>i {
    font-size:2.5rem;
}

/************* Page produits *********/
#products {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border: 0;
}

#products>article {
    flex: 1 33.33333333%;
    padding: 15px;
}

#products>article>img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

#products>article>h3{
    font-size: 1.35rem;
    margin-bottom: 5px;
}

/******************** form contact *********/
#contact {
    width: 100%;
    border: 0;
}
form>input, form>textarea {
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
}

form>textarea {
    height: 200px;
}

form {
    width: 500px;
    margin-top: 10px;
}

form>label {
    text-align: left;
    display: block;
    margin-bottom: 7px;
}