/* ------------ HEADER ----------------- */

header>img {
    display: block;
    width: 30%;
    float: left;
}
header>nav {
    float: left;
    width: 70%;
}
header nav>ul {
    width: 100%;
    display: table;
    height: 75px;
}
header nav>ul>li {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
    text-align: center;
}

/* ------------ CONTENT ----------------- */

.wrapper{
	width: 960px;
	margin: auto;
	position: relative;
}

.wrapper:after{
	display: block;
	content: "";
	clear: both;
}

section{
	width: 80%;
	background-color: tomato;
	padding: 10px;
	float: left;
}

aside{
	width: 20%;
	background-color: aqua;
	padding: 10px;
	float: left;
	position: absolute;
    right: 0;
    height: 100%;
}

iframe {
	display: block;
	margin:auto;
}