/************** footer **************/
footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #4a4a4a;
    /*    border-bottom: 7px solid #3be355;
    border-top: 7px solid #3be355;*/
    line-height: 135%;
    padding: 0;
}

footer>div {
    flex:1;
    color: #fff;
    padding: 15px;
    border-right: 1px solid #fff;
}

footer>p {
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: #fff;
    width: 100%;
    color: #4a4a4a;
}

footer>div:nth-child(3){
    border: 0;
}

footer>div>p {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

footer>div>ul {
    margin-top: 10px;
}

footer>div>ul>li>span {
    color: #f78138;
}

#social-text{
    margin-top: 10px;
}

#social-ico li {
    display: inline;
    margin-right: 5px;
}

#social-ico li>a>i {
    font-size:2.5rem;
}

/************* Page produits *********/
#products {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#products>article {
    flex: 1 33.33333333%;
    padding: 15px;
}

#products>article>img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

#products>article>h3{
    font-size: 1.35rem;
    margin-bottom: 5px;
}

/******************** form contact *********/
form>input, form>textarea {
    margin-bottom: 20px;
    width: 100%;
}

form {
    margin: auto;
    width: 500px;
}

form>label {
    text-align: center;
    display: block;
    margin-bottom: 7px;
}